@charset "UTF-8";
/*
    Cheat Codes
    Michael Behan 1303
    MIU Project 4
*/
* {
    margin: 0;
    padding: 0;
}

.ui-header .ui-title {
    margin-right: 10%;
    margin-left: 10%;
}

div[data-role=fieldcontain] {
    clear: both;
}

#feature img {
    display: block;
    margin: 0 auto;
}

section {
    margin-bottom: 1.5em;
}

#browse div.ui-grid-b {
    margin-top: 1px;
}

#browse div.ui-bar img {
    display: block;
    height: 44px;
    width: 44px;
    margin: 0 auto;
}

#browse div.ui-bar p {
    display: block;
    width: 44px;
    margin: 0 auto;
    text-align: center;
    padding-top: 4px;
}

#add-or-edit legend {
    color: rgb(240, 40, 40);
}

#add-or-edit span.hint {
    display: block;
    font-size: 0.8em;
    color: rgb(70, 70, 70);
    margin-top: 5px;
}

#about p {
    display: block;
    padding: 1em;
}

#news article {
    display: block;
    padding: 1em;
}

#news article aside {
    font-style: italic;
    font-size: 11pt;
}

#display span.match {
    color: rgb(42, 42, 42);
    background-color: rgb(236, 228, 97);
}

#display article.entry {
    display: table;
    padding: 1em 0 1em 0;
    border-bottom: 1px solid rgb(200, 200, 200);
    width: 100%;
}

#display dl {
    display: table-row;
}

#display dt,
#display dd {
    display: table-cell;
    width: 50%;
}

label.error {
    float: left;
	color: red;
	padding-top: .5em;
	vertical-align: top;
	font-weight:bold
}