@charset "UTF-8";
/*
    Cheat Codes
    Michael Behan 1303
    MIU Project 1
*/
#feature img {
    display: block;
    margin: 0 auto;
}

section {
    margin-bottom: 1.5em;
}

a[data-role="button"] {
    height: 3em;
}
