@charset "UTF-8";
/*
    Cheat Codes
    Michael Behan 1303
    MIU Project 1
*/

#feature img {
    display: block;
    margin: 0 auto;
}

section {
    margin-bottom: 1.5em;
}

a[data-role="button"] {
    height: 3em;
}

label,
label[for] {
    font-weight: 900;

}
dd {
    display: block;
    margin-bottom: 3em;
}

div[class=ui-slider] {
    padding-bottom: 4em;
    display: inline-block;
}

label.error {
    float: none;
    color: red;
    padding-left: .5em;
    vertical-align: top;
}